<h1>Want to get in touch?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Location</h3>

    <p>Clintonville, Columbus, Ohio </p>

    <h3>Phone</h3>

    <p><%= number_to_phone "6148675309" %></p>

    <h3>Email</h3>

    <p><a href="mailto:eric.morgan.641@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48868.16366315969!2d-83.0511891100276!3d40.04729322872046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388c6809e1729f%3A0xf0d455a55b7a1cdd!2sClintonville%2C+Columbus%2C+OH!5e0!3m2!1sen!2sus!4v1521920563683" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


